.Wizard {
  margin: 0 auto;
}

.Wizard-title {
  font-size: 35px;
  line-height: 23.56px;
}

.Wizard-subtitle {
  font-size: 20px;
  line-height: 31px;
  margin: 55px auto 65px;
  width: 50%;
}

.Wizard-content {
  background-color: #fff;
  color: #5B638B;
  width: 70%;
  margin: 0 auto 40px;
}

.Wizard-contentTitle {
  font-size: 20px;
  line-height: 24px;
  padding: 30px 0;
  border-bottom: 1px #5B638B solid;
}

.Wizard-contentQuestion {
  padding: 30px 40px 20px;
}
